---
import "../styles/global.css";
import Analytics from "../components/Analytics.astro";
import siteConfig from "../../site.json";

export interface Props {
  title: string;
  description?: string;
  image?: string;
  keywords?: string;
  author?: string;
  canonical?: string;
  disableInterstitial?: boolean;
}

const {
  title,
  description = siteConfig.site.description,
  image = siteConfig.site.og_image,
  keywords = siteConfig.site.keywords,
  author = siteConfig.site.author,
  canonical,
  disableInterstitial = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href={siteConfig.site.favicon} />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content={author} />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="7 days" />
    <meta name="theme-color" content="#fbbf24" />

    <!-- Canonical URL -->
    {canonical && <link rel="canonical" href={canonical} />}

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonical || Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content={siteConfig.site.name} />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonical || Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />
    <meta property="twitter:site" content="@premiumaiapps" />
    <meta property="twitter:creator" content="@premiumaiapps" />

    <!-- Additional Meta Tags -->
    <meta name="application-name" content={siteConfig.site.name} />
    <meta name="apple-mobile-web-app-title" content={siteConfig.site.name} />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="format-detection" content="telephone=no" />
    <link
      rel="preconnect"
      href="https://pagead2.googlesyndication.com"
      crossorigin
    />
    <link rel="dns-prefetch" href="//pagead2.googlesyndication.com" />
    <link
      rel="preconnect"
      href="https://www.googleadservices.com"
      crossorigin
    />
    <link rel="dns-prefetch" href="//www.googleadservices.com" />
    <link rel="preconnect" href="https://cm.g.doubleclick.net" crossorigin />
    <link rel="dns-prefetch" href="//cm.g.doubleclick.net" />
    <link
      rel="preconnect"
      href="https://securepubads.g.doubleclick.net"
      crossorigin
    />
    <link rel="dns-prefetch" href="//securepubads.g.doubleclick.net" />
    <link
      rel="preconnect"
      href="https://tpc.googlesyndication.com"
      crossorigin
    />
    <link rel="dns-prefetch" href="//tpc.googlesyndication.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="dns-prefetch" href="//fonts.gstatic.com" />
    <link rel="preconnect" href="https://www.gstatic.com" crossorigin />
    <link rel="dns-prefetch" href="//www.gstatic.com" />
    <link
      rel="preconnect"
      href="https://www.googletagmanager.com"
      crossorigin
    />
    <link rel="dns-prefetch" href="//www.googletagmanager.com" />
    <link rel="preconnect" href="https://csi.gstatic.com" crossorigin />
    <link rel="dns-prefetch" href="//csi.gstatic.com" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin />
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com" />
    <Analytics disableInterstitial={disableInterstitial} />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/UAParser.js/1.0.37/ua-parser.min.js"
      integrity="sha512-LAchvH0Y4sxYM1ouOaqHQ6WbSXvOgkioPaiyW0oPOFNNMNfpsBEpvzYmsxgDf8pQM/fMaMdxYP/nFenquTAkdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
  </head>
  <body class="min-h-screen bg-black text-white">
    <slot />
  </body>
</html>
